# Dependencies
node_modules/
/.pnp
.pnp.js

# Production build artifacts
dist/
build/

# Environment Variables
.env
.env.local
.env.production
!.env.example

# Local SQLite & Temporary Logs
data/*.sqlite
data/*.sqlite-wal
data/*.sqlite-shm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS Metadata
.DS_Store
Thumbs.db
